## This notebook is for testing functions before adding them to src

In [1]:
import numpy as np
import pandas as pd
from functools import reduce

In [10]:
def process_raw_data():
    path_raw_data = '../data/raw/'
    path_processed_data = '../data/processed/'

    df_EYS = pd.read_csv(path_raw_data+'Expected years of schooling (years).csv',skiprows=6,sep=',', encoding='latin-1')
    df_GNIpc = pd.read_csv(path_raw_data+'Gross national income (GNI) per capita (constant 2017 PPP$).csv',skiprows=6,sep=',', encoding='latin-1')
    df_LE = pd.read_csv(path_raw_data+'Life expectancy at birth (years).csv',skiprows=6,sep=',', encoding='latin-1')
    df_MYS = pd.read_csv(path_raw_data+'Mean years of schooling (years).csv',skiprows=6,sep=',', encoding='latin-1')

    common_countries = set.intersection(set(df_EYS['Country']), set(df_GNIpc['Country']), set(df_LE['Country']),set(df_MYS['Country']))
    n_countries = len(common_countries)

    keep_cols = np.r_[1:2,2:df_EYS.shape[1]:2]
    df_EYS = df_EYS.iloc[:,keep_cols][df_EYS['Country'].isin(common_countries)].dropna(axis=0,subset='Country')
    df_GNIpc = df_GNIpc.iloc[:,keep_cols][df_GNIpc['Country'].isin(common_countries)].dropna(axis=0,subset='Country')
    df_LE = df_LE.iloc[:,keep_cols][df_LE['Country'].isin(common_countries)].dropna(axis=0,subset='Country')
    df_MYS= df_MYS.iloc[:,keep_cols][df_MYS['Country'].isin(common_countries)].dropna(axis=0,subset='Country')

    data_frames = [df_EYS.melt(id_vars='Country',var_name='Year',value_name='Expected_years_of_schooling'),
                        df_GNIpc.melt(id_vars='Country',var_name='Year',value_name='Gross_national_income_per_capita'),
                        df_LE.melt(id_vars='Country',var_name='Year',value_name='Life_expectancy_at_birth'),
                        df_MYS.melt(id_vars='Country',var_name='Year',value_name='Mean_years_of_schooling')
                    ]

    res = reduce(lambda  left,right: pd.merge(left,right,on=['Country','Year'],
                                                how='inner'), data_frames).applymap(lambda x: x.strip() if isinstance(x,str) else x)
    # res.to_csv(path_processed_data+'processed_data.csv',index=False)
    return res

In [11]:
res = process_raw_data()

In [13]:
countries = ['Netherlands']
res.query('Country in @countries')

,Country,Year,Expected_years_of_schooling,Gross_national_income_per_capita,Life_expectancy_at_birth,Mean_years_of_schooling
121,Netherlands,1990,14.7,36548,77.0,10.2
327,Netherlands,1991,14.9,37268,77.1,10.2
533,Netherlands,1992,14.8,37507,77.2,10.3
739,Netherlands,1993,15.1,37930,77.3,10.4
945,Netherlands,1994,17.3,39023,77.4,10.4
1151,Netherlands,1995,16.7,40290,77.5,10.5
1357,Netherlands,1996,16.9,41567,77.6,10.6
1563,Netherlands,1997,16.6,42855,77.8,10.6
1769,Netherlands,1998,16.5,44009,77.9,10.7
1975,Netherlands,1999,16.4,46686,78.0,10.8
2181,Netherlands,2000,16.6,48502,78.2,10.8
2387,Netherlands,2001,16.7,48157,78.4,11.0
2593,Netherlands,2002,16.3,48053,78.6,11.1
2799,Netherlands,2003,16.4,48548,78.8,11.3
3005,Netherlands,2004,16.3,49093,79.1,11.5
3211,Netherlands,2005,16.4,49006,79.4,11.6
3417,Netherlands,2006,16.5,51740,79.7,11.8
3623,Netherlands,2007,16.6,53134,80.0,12.0
3829,Netherlands,2008,16.8,52566,80.3,12.0
4035,Netherlands,2009,16.8,51337,80.6,11.9
4241,Netherlands,2010,17.0,52431,80.8,12.0
4447,Netherlands,2011,17.9,53577,81.0,12.0
4653,Netherlands,2012,17.8,52992,81.2,12.1
4859,Netherlands,2013,17.9,52583,81.4,12.1
5065,Netherlands,2014,18.0,52304,81.6,12.1
5271,Netherlands,2015,18.1,53264,81.7,12.2
5477,Netherlands,2016,18.0,53300,81.9,12.2
5683,Netherlands,2017,18.0,55765,82.0,12.3
5889,Netherlands,2018,18.5,57014,82.1,12.3
6095,Netherlands,2019,18.5,57707,82.3,12.4